<div class="footer-copyright">
    <div class="container">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.title %>
        Using <a rel="noreferrer" href="http://hexo.io/" target="_blank">Hexo</a> 
        &amp; <a rel="noreferrer" href="https://github.com/nexmoe/hexo-theme-workshub" target="_blank">Workshub</a>
    </div>
</div>